# Database Configuration
# NEON PostgreSQL 18
DATABASE_URL="postgresql://neondb_owner:password@ep-xyz.us-east-1.neon.tech/neondb?sslmode=require"
# Get your actual connection string from: https://neon.tech/dashboard

# Server Configuration
NODE_ENV=development
PORT=3000

# CORS Configuration
CORS_ORIGIN=https://banksampah-bpi.netlify.app,http://localhost:5173

# JWT Configuration (opsional untuk future development)
JWT_SECRET=your_secret_key_here
JWT_EXPIRE=7d

# Logging
LOG_LEVEL=debug
